<div class="attack flexcol">
  <ol>
    <li class="flexrow flex-group-center">
      {{localize "FFLE.debug.attackData"}}
    </li>

    <li class="flexrow">
      <div>{{localize "FFLE.debug.attackMod"}}</div>
      <input
        type="number"
        name="system.attackMod"
        value="{{system.attackMod}}"
        placeholder="0"
        {{#if (eq actor.type "npc")}}disabled{{/if}}
      />
    </li>

    <li class="flexrow">
      <div>{{localize "FFLE.debug.targetDefense"}}</div>
      <select name="system.targetDefense">
        {{selectOptions
          FFLE.defenseTypes
          selected=system.targetDefense
          localize=true
        }}
      </select>
    </li>

    <li class="flexrow">
      <div>{{localize "FFLE.debug.damageFormula"}}</div>
      <input
        type="text"
        name="system.damageFormula"
        value="{{system.damageFormula}}"
        placeholder="1d8"
      />
    </li>

    <li class="flexrow">
      <div>{{localize "FFLE.dice.eed"}}</div>
      <input
        type="number"
        name="system.eedFactor"
        value="{{system.eedFactor}}"
        placeholder="3"
        {{#if (eq actor.type "npc")}}disabled{{/if}}
      />
    </li>
  </ol>
  <button data-action="rollAttack" data-defense="{{system.targetDefense}}">{{localize "FFLE.debug.rollAttack"}}</button>
</div>