<div class="attack flexcol">
  <div>
    <div class="flexrow">
      <div>{{localize "FFLE.debug.attackMod"}}</div>
      <input
        type="number"
        name="system.attackMod"
        value="{{system.attackMod}}"
        placeholder="0"
        {{#if (eq actor.type "npc")}}disabled{{/if}}
      />
    </div>

    {{#if (eq actor.type "npc")}}
    <div class="flexrow">
      <div>{{localize "FFLE.sheet.npcAttackBonus"}}</div>
      <input
        type="number"
        name="system.npcAttackBonus"
        value="{{system.npcAttackBonus}}"
        placeholder="0"
      />
    </div>
    {{/if}}

    {{! Hiding these temporarily for vertical space }}
    {{#unless "true"}}
    <div class="flexrow">
      <div>{{localize "FFLE.sheet.critSuccessThreshold"}}</div>
      <input
        type="number"
        name="system.critSuccessThreshold"
        value="{{system.critSuccessThreshold}}"
        placeholder="20"
        required
      />
    </div>

    <div class="flexrow">
      <div>{{localize "FFLE.sheet.critFailThreshold"}}</div>
      <input
        type="number"
        name="system.critFailThreshold"
        value="{{system.critFailThreshold}}"
        placeholder="1"
        required
      />
    </div>
    {{/unless}}

    <hr />

    <div class="flexrow">
      <div>{{localize "FFLE.debug.targetDefense"}}</div>
      <select name="system.targetDefense">
        {{selectOptions
          FFLE.defenseTypes
          selected=system.targetDefense
          localize=true
        }}
      </select>
    </div>

    <div class="flexrow">
      <div>{{localize "FFLE.debug.damageFormula"}}</div>
      <input
        type="text"
        name="system.damageFormula"
        value="{{system.damageFormula}}"
        placeholder="1d8"
      />
    </div>

    {{#unless (eq actor.type "npc")}}
    <div class="flexrow">
      <div>{{localize "FFLE.dice.eed"}}</div>
      <input
        type="number"
        name="system.eedFactor"
        value="{{system.eedFactor}}"
        placeholder="3"
      />
    </div>
    {{/unless}}

    <hr />

    <div class="flexrow">
      <div>{{localize "FFLE.sheet.boons"}}</div>
      <input
        type="number"
        name="system.boons"
        value="{{system.boons}}"
        placeholder="0"
      />
    </div>

    <div class="flexrow">
      <div>{{localize "FFLE.sheet.rollType"}}</div>
      <select name="system.rollType">
        {{selectOptions
          FFLE.rollTypes
          selected=system.rollType
          localize=true
        }}
      </select>
    </div>
  </div>

  <hr />

  <button
    data-action="rollAttack"
    data-defense="{{system.targetDefense}}"
  >
    {{localize "FFLE.debug.rollAttack"}}
  </button>
</div>