<div>
  {{#if isEditable}}
    <prose-mirror
      name="system.notes"
      button="true"
      editable="{{isEditable}}"
      toggled="false"
      value="{{system.notes}}"
    >
      {{{enrichedNotes}}}
    </prose-mirror>
  {{else}}
    {{{enrichedNotes}}}
  {{/if}}
</div>