<ol>
  <li class="flexrow flex-group-center">
    {{localize "FFLE.sheet.initiative"}}
  </li>

  <li class="flexrow">
    <input
      type="number"
      name="system.initiative"
      value="{{system.initiative}}"
      placeholder="0"
      required
      {{#if (eq actor.type "npc")}}disabled{{/if}}
    />
  </li>

  <hr />

  <li class="flexrow flex-group-center">
    {{localize "FFLE.sheet.defenses"}}
  </li>

  <li class="flexrow">
    <div>{{localize "FFLE.defenseTypes.phys"}}</div>
    <input
      type="number"
      name="system.defense.phys"
      value="{{system.defense.phys}}"
      placeholder="10"
      required
      {{#if (eq actor.type "npc")}}disabled{{/if}}
    />
  </li>

  <li class="flexrow">
    <div>{{localize "FFLE.defenseTypes.mag"}}</div>
    <input
      type="number"
      name="system.defense.mag"
      value="{{system.defense.mag}}"
      placeholder="10"
      required
      {{#if (eq actor.type "npc")}}disabled{{/if}}
    />
  </li>

  <li class="flexrow">
    <div>{{localize "FFLE.defenseTypes.skill"}}</div>
    <input
      type="number"
      name="system.defense.skill"
      value="{{system.defense.skill}}"
      placeholder="10"
      required
      {{#if (eq actor.type "npc")}}disabled{{/if}}
    />
  </li>

  <hr />

  <li class="flexrow flex-group-center">
    {{localize "FFLE.sheet.damageResistance"}}
  </li>

  <li class="flexrow">
    <div>{{localize "FFLE.defenseTypes.phys"}}</div>
    <input
      type="number"
      name="system.dr.phys"
      value="{{system.dr.phys}}"
      placeholder="0"
    />
  </li>

  <li class="flexrow">
    <div>{{localize "FFLE.defenseTypes.mag"}}</div>
    <input
      type="number"
      name="system.dr.mag"
      value="{{system.dr.mag}}"
      placeholder="0"
    />
  </li>
</ol>