<div>
  {{#if (eq actor.type "npc")}}
  <div class="flexrow">
    <div>{{localize "FFLE.sheet.npc.tier"}}</div>
    <select name="system.npcTier">
      {{selectOptions FFLE.npcTiers selected=system.npcTier localize=true}}
    </select>
  </div>
  {{/if}}

  <div class="flexrow">
    <div>{{localize "FFLE.sheet.initiative"}}</div>
    <input
      type="number"
      name="system.initiative"
      value="{{system.initiative}}"
      placeholder="0"
      required
      {{#if (eq actor.type "npc")}}disabled{{/if}}
    />
  </div>

  <hr />

  <div class="flexrow flex-group-center">
    {{localize "FFLE.sheet.defenses"}}
  </div>

  <div class="flexrow">
    <div>{{localize "FFLE.defenseTypes.phys"}}</div>
    <input
      type="number"
      name="system.defense.phys"
      value="{{system.defense.phys}}"
      placeholder="10"
      required
      {{#if (eq actor.type "npc")}}disabled{{/if}}
    />
  </div>

  <div class="flexrow">
    <div>{{localize "FFLE.defenseTypes.mag"}}</div>
    <input
      type="number"
      name="system.defense.mag"
      value="{{system.defense.mag}}"
      placeholder="10"
      required
      {{#if (eq actor.type "npc")}}disabled{{/if}}
    />
  </div>

  <div class="flexrow">
    <div>{{localize "FFLE.defenseTypes.skill"}}</div>
    <input
      type="number"
      name="system.defense.skill"
      value="{{system.defense.skill}}"
      placeholder="10"
      required
      {{#if (eq actor.type "npc")}}disabled{{/if}}
    />
  </div>

  <hr />

  <div class="flexrow flex-group-center">
    {{localize "FFLE.sheet.damageResistance"}}
  </div>

  <div class="flexrow">
    <div>{{localize "FFLE.defenseTypes.phys"}}</div>
    <input
      type="number"
      name="system.dr.phys"
      value="{{system.dr.phys}}"
      placeholder="0"
    />
  </div>

  <div class="flexrow">
    <div>{{localize "FFLE.defenseTypes.mag"}}</div>
    <input
      type="number"
      name="system.dr.mag"
      value="{{system.dr.mag}}"
      placeholder="0"
    />
  </div>
</div>