<section
  class="tab notes {{tab.cssClass}}"
  data-group="primary"
  data-tab="notes"
>
  <h1>{{localize "FFLE.tab.notes"}}</h1>

  {{#if isEditable}}
  <prose-mirror
    name="system.notes"
    button="true"
    editable="{{isEditable}}"
    toggled="false"
    value="{{system.notes}}">
    {{{enrichedNotes}}}
    </prose-mirror>
  {{else}}
  {{{enrichedNotes}}}
  {{/if}}
</section>