<div class="defenses">
  <div class="flexcol">
    <ol>
      <li class="flexrow flex-group-center">
        {{localize "FFLE.sheet.defenses"}}
      </li>

      <li class="flexrow">
        <div>{{localize "FFLE.defenseTypes.phys"}}</div>
        <input
          type="number"
          name="system.defense.phys"
          value="{{system.defense.phys}}"
          placeholder="10"
        />
      </li>

      <li class="flexrow">
        <div>{{localize "FFLE.defenseTypes.mag"}}</div>
        <input
          type="number"
          name="system.defense.mag"
          value="{{system.defense.mag}}"
          placeholder="10"
        />
      </li>

      <li class="flexrow">
        <div>{{localize "FFLE.defenseTypes.skill"}}</div>
        <input
          type="number"
          name="system.defense.skill"
          value="{{system.defense.skill}}"
          placeholder="10"
        />
      </li>
    </ol>
  </div>
</div>